body {
    background-color: #eda28a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    background-color: #e0957b;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
}

.smallBox {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    align-items: center;
    display: flex;
}

#link-output {
    width:375px;
    height: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 25px;
    overflow-x: auto;
    white-space: nowrap;
}

#copy-link {
    margin-left: 10px;
    height: 25px;
    font-size: 20px;
    padding: 10px;
    border: 3px solid #e0957b;
    cursor: pointer;
}

h1 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sudoku {
    display: flex;
    height: 320px;
    width: 320px;
    flex-direction: column;
}

#sudoku>div {
    display: flex;
    border-bottom: 1px black solid;
}

#sudoku>div input {
    display: flex;
    border-right: 1px black solid;
}

#sudoku>div:nth-of-type(3), #sudoku>div:nth-of-type(6) {
    border-bottom: 2px black solid;
}

#sudoku>div input:nth-of-type(3), #sudoku>div input:nth-of-type(6) {
    border-right: 2px black solid;
}

#sudoku>div:last-of-type {
    border-bottom: none;
}

#sudoku>div input:last-of-type {
    border-right: none;
}

#loader {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.loaderBox {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5%;
    margin-bottom: 15px;
}

input {
    border: none;
    width: 30px;
    height: 30px;
    font-size: 25px;
    text-align: center;
    background-color: #e0957b;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}